<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/normalize.css}" rel="stylesheet" href="../static/css/normalize.css" type="text/css">

    <!--<div th:replace="fragments/header :: header-css"/>-->
    <link th:href="@{/css/picture_style.css}" rel="stylesheet" href="../static/css/picture_style.css">
    <link th:href="@{/css/navigation_style.css}" rel="stylesheet" href="../static/css/navigation_style.css">
    <link th:href="@{/css/gallery_style.css}" rel="stylesheet" href="../static/css/gallery_style.css">
    <link th:href="@{/css/contact_info_style.css}" rel="stylesheet" href="../static/css/contact_info_style.css">

</head>
<body>

<div class="gallery">
    <div class="gallery__intro">
        <h1 class="gallery__title"><a th:href="|/${userNickname}|" th:text="${userNickname}"> portfolio </a></h1>


        <ul>
            <li class="gallery__item" draggable="true" th:each="picture : ${pictures}">
                <a class="gallery__itemLink" th:href="@{/picture(id=${picture.id})}" data-rel="aiLightbox">
                    <img class="gallery__itemThumb" th:src="@{/picture(id=${picture.id})}">
                </a>
            </li>
        </ul>

    </div>
</div>

<script src="/js/gallery_js/swipe_js.js"></script>
<script src="/js/gallery_js/main_js.js"></script>

<!-- footer -->

</body>
</html>